<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0px;">
    <h4 style="text-align: center; padding: 10px; margin: 0px; background-color: yellow;">Acme E-Commerce</h4>
    <div style="padding: 10px">
    <%= yield %>
    </div>
  </body>
</html>
